rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /sessions/{code} {
      allow read, write: if true;
    }
    match /names/{name} {
      allow read, write: if true;
    }
    match /users/{uid} {
      allow read, write: if true;
    }
  }
}
